* {
    margin: 0;
    top: 0;
}

.main {
    margin: 20px;
}

/*  basic details text start  */
.basic-details {
    display: flex;
}

.basic-details-user {
    font-size: 22px;
    color: rgb(84, 132, 235);
}

.basic-details-text {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding-left: 10px;
}

/*  basic details text end  */

/*  basic details list start  */
.basic-details-list {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.basic-details-list a {
    font-size: 17px;
    float: left;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(84, 132, 235);
    background-color: rgb(230, 227, 227);
    margin:18px 4px 4px;
    border-radius: 6px;
}

.basic-details-list a:hover {
    background-color: #332bdd;
    color: white;
}

/*  basic details list end  */