body {
    margin: 0;
    top: 0;
}
.logout{
    position: relative;
    left: 79%;
    height: 100%;
    color: #fff;
}
.logout button{
    border: none;
    background-color: #E17576;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
}
.toggle-on {
    position: relative;
    left: 72%;
    height: 100%;
}
.toggle-on i{
    color: #E17576;
    padding: 2px 0px 0px 0px;
    font-size: 33px;
}
 /* CSS styling for the popup */
 /* .logout-popup {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #fff;
     padding: 15px 82px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     z-index: 9999;
     display: none;
     font-family: "Kanit", sans-serif;
 }

 .logout-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9998;
     display: none;
 }
 .logout-button{
    display: flex;
 } */
 .logout-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     /* semi-transparent black */
     z-index: 999;
     /* make sure it's above other content */
 }

 .logout-popup {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #fff;
     padding: 20px 42px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     font-family: "Kanit", sans-serif;
     z-index: 1000;
     /* make sure it's above overlay */
 }

 .logout-popup h2 {
     margin: 0;
 }

 .logout-options select {
     width: 100%;
     padding: 8px;
     margin-bottom: 10px;
 }

 .logout-button {
     display: flex;
     justify-content: space-between;
 }

 .logout-button button {
     padding: 8px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 .logout-button-yes button {
     background-color: #ff3333;
     color: #fff;
 }

 .logout-button-no button {
     background-color: #666;
     color: #fff;
 }

 .logout-button button:hover {
     opacity: 0.8;
 }
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 45px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  }
  .popup h2{
    color: #f00101;
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
  }
  .popup p{
    margin: 5px 0;
   }
   .popup button{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(71, 118, 220);
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
   }
   .popup button a{
    text-decoration: none;
    color: red;
   }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
  }
.main {
    display:flex;
}

/*  basic details text start  */
.basic-details-page {
    display: flex;
}
.basic-details-main{
    margin:15px 25px;
    width: 80%;
}

.basic-details-user {
    font-size: 22px;
    color: rgb(84, 132, 235);
}

.basic-details-text {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding-left: 10px;
}
.basic-details-text p{
  margin: 0px;
}

/*  basic details text end  */

/*  basic details list start  */
.basic-details-list {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 18px 40px;
}

.basic-details-list a {
    font-size: 15px;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(84, 132, 235);
    background-color: rgb(230, 227, 227);
    margin:0px 4px 4px;
    border-radius: 6px;
}

.basic-details-list a:hover {
    background-color: #332bdd;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  basic details list end  */
/* basic details brief start */

.basic-details-brief{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin-top: 20px;
    border-radius: 30px 0px;
}
.profile-details{
    display: flex;
    justify-content: space-between;
}
.user-profile{
    display: flex;
}
.user-profile-img img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-profile-text{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.employee-name h6{
    margin: 0px;
    color: rgb(30, 92, 226);
    font-size: 35px;
    font-family: cursive;
    padding: 0px 0px 3px 0px;
}
.employee-id p{
    margin: 0px;
    color: rgb(89, 136, 239);
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 800;
    padding-bottom: 4px;
}
.employee-mail p{
    margin: 0px;
    font-family: sans-serif;
    padding-bottom: 4px;
    color: #666464;
}
.employee-contact p{
    margin: 0px;
    font-family: sans-serif;
    padding-bottom: 4px;
    color: #666464;
}
.edit-profile i{
    color: rgb(71, 118, 220);
}
.edit-profile button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(66, 116, 223);
    background: none;
    border: none;
    padding: 7px 16px;
    border-radius: 4px;
}
/* grid coloumn 1 starts */
.user-details-brief{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 15px 0px 0px;
}
.user-first-name-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-first-name-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    padding: 4px 0px;
    margin: 0px;
}
.user-contact-number-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-contact-number-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    padding: 4px 0px;
    margin: 0px;
}
.user-blood-group-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-blood-group-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    padding: 4px 0px;
    margin: 0px;
}
.user-emergency-contact-name-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-emergency-contact-name-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    padding: 4px 0px;
    margin: 0px;
}
.user-ofc-mail-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-ofc-mail-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    padding: 4px 0px;
    margin: 0px;
}
.user-checkin-time-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-checkin-time-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-designation-1 h6{
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px;
}
.user-designation-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    padding: 4px 0px;
    margin: 0px;
}
/* grid column 1 end */
/* grid column 2 starts */
.user-last-name-1 h6{
font-family: sans-serif;
font-size: 12px;
margin: 0px;
padding: 4px 0px;
}
.user-last-name-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-pan-number-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}
.user-pan-number-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-gender-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}
.user-gender-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-relation-with-employe-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}
.user-relation-with-employe-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-joining-date-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}
.user-joining-date-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-checkout-time-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}
.user-checkout-time-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-probation-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}
.user-probation-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
/* grid column 2 end */
/* grid column 3 starts */
.user-personal-mail-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    padding: 4px 0px;
    margin: 0px;
}

.user-personal-mail-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-aadhar-number-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}

.user-aadhar-number-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-birth-date-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}

.user-birth-date-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-emergency-contact-no-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}

.user-emergency-contact-no-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-reporting-manager-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}

.user-reporting-manager-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-department-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}

.user-department-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
.user-notice-period-1 h6{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 4px 0px;
}

.user-notice-period-2 p{
    font-family: sans-serif;
    font-size: 13px;
    color: #B1B2B8;
    margin: 0px;
    padding: 4px 0px;
}
/* grid column 3 end */
/* basic details brief end */